DISCORD_TOKEN=your_bot_token_here

# Konfigurasi Server (Guild) & Channel IDs
GUILD_ID=1375444915403751424
POST_CHANNEL_ID=1375939507114741872
DAILY_ANNOUNCEMENT_CHANNEL_ID=1375939507114741872
WELCOME_CHANNEL_ID=1375824875838505020
VERIFICATION_CHANNEL_ID=1375775766482128906
GENDER_CHANNEL_ID=1375768360637436005
LOG_CHANNEL_ID=1375886856188727357
LOGADMIN_CHANNEL_ID=1376050661199708181
ANNOUNCEMENT_CHANNEL_ID=1375821960637845564
ROLES_CHANNEL_ID=1375444916519440468

# Nama Role
MUTE_ROLE_NAME=Muted
ADMIN_PRAKOM_ROLE=Admin Prakom
TICKET_CATEGORY_NAME=Tiket
UNVERIFIED_ROLE_NAME=Unverified
ANGGOTA_ROLE_NAME=Anggota
PRAKOM_CANTIK_ROLE_NAME=Prakom Cantik
PRAKOM_GANTENG_ROLE_NAME=Prakom Ganteng

# Pengaturan Moderasi & XP
SPAM_THRESHOLD=5
SPAM_INTERVAL=10
MUTE_DURATION=60
XP_COOLDOWN=60
